<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>movie 2 see | ADMIN</title>
    <link rel="shortcut icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
</head>

<body>
    {{> navAdmin}}
    <div class="container">
        <br><br><br>
        <div class="card text-center">
            <div class="card-header bg-dark" style="color: white;">
                <h4>สวัสดี {{this.uname}} ยินดีต้อนรับเข้าสู่ระบบการจัดการ movie2see</h4>
            </div>


            </div>





    </div>
    <br> 
    {{> footfixbottom}}

</body>

</html>