<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>movie 2 see | My profile</title>
    <link rel="shortcut icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
</head>
<body>
    {{> nav}}
    
    <div class="container">
        <br>
        Test profile page.
    </div>

    {{> footfixbottom}}
</body>
</html>